*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.container-funcionarios{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: tomato;
    height: 200px;
}
.container-funcionarios div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    position: relative;
    height: 100%;
    box-shadow: 0 0 16px #000;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
}
div p{
    width: 100%;
    position: absolute;
    bottom: 10px;
    font-size: 48px;
    text-align: center;
}
div span{
    width: 100%;
    position: absolute;
    bottom: 2px;
    font-size: 24px;
    text-align: center;
}
div img{
    width: 100px;
    border-radius: 90%;
    height: 100px;
}